<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>701436264260-q3o9qpkse09meglto8cugrvpqjigr0jf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701436264260-q3o9qpkse09meglto8cugrvpqjigr0jf</string>
	<key>API_KEY</key>
	<string>AIzaSyAOy1ygZYmhy4zX_2aNTwEkQZXvbeoFh44</string>
	<key>GCM_SENDER_ID</key>
	<string>701436264260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.acheev.ios</string>
	<key>PROJECT_ID</key>
	<string>acheev-204819</string>
	<key>STORAGE_BUCKET</key>
	<string>acheev-204819.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701436264260:ios:5af4814ca19e0212</string>
	<key>DATABASE_URL</key>
	<string>https://acheev-204819.firebaseio.com</string>
</dict>
</plist>